body{
  
    background-image: url(../IMAGE/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 10px;
    border-color: lightblue;
    margin: 10px;
    padding: 10px;
    font-family: 'Baloo Thambi 2', cursive;

}
header {
 color: white;
width: 58.7vw;


}
section{
    margin-top: 10px;
padding: 10px;

}
article{

    font-size: 20px;
    text-align: justify;
    line-height: 15px;
}

article::before{

content:url("https://img.icons8.com/color/50/000000/hand-with-pen.png" ) "Oaksas";
padding-right: 0.1rem;
}
.title{

   font-size: 30px;
   font-weight: bold;
   margin-top: 30px;
}
.title:hover{
    color: orange;
}
.date{

    font-size: 15px;
    font-style: italic;
    text-transform: uppercase ;
    color: gray;
    float: right;
   }


.date:hover{
    text-decoration: underline;
}
.date::before{
    content: "🕐";
}

nav ul li {
   
    display: inline-block;
   
    
 
}
ul li a{
    color: white;
    text-decoration: none;
    padding: 10px ;
    font-size: 20px;
    
}
ul li a:link{

    color: yellow;
}
ul li a:active{

}
ul li a:hover{
    color: rgb(247, 150, 6);
    text-decoration: wavy;

}

nav{
    position: fixed;
    background-color: rgba(3, 173, 68, 0.1);
    right:50px;
   

    z-index: 0;
    
    
}
#bio{
    float: right;
    top: 20px;
}
.profile{
    float: left;
 
    max-width: 50%;
    
    border-radius: 100%;
}
nav a{
    color: white;
    
}

p{

    line-height: 35px;
}
#content{

    text-align: center;
    position: relative;
    left: 200px;
    background-color: rgba(1, 3, 2, 0.7);
    background-attachment: fixed;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0px;
    border-radius: 20px;
}

.source{

    color: gray;


}

.source::after{

content: "⬈";
}

.source:hover{
    color:orange;

}
#navblog{

    width: 328px;
    float: right;
    right: 0em;
    height: 600px;
     background-color: rgba(61, 68, 64, 0.7);
     border-radius: 5%;
}
#profile{

    float: left;
 
    max-width: 17%;
    left: 0px;
    top: 0px;
    
    border-radius: 120%;
    position: fixed;
}
#profiler{
text-decoration: none;
font-weight: normal;
font-size: 20px;
margin-top: 290px;
text-align: center;
left: 0em;
float: left;
position: fixed;
}

#botnav{

    
}