footer{
    color: white;
    background-color:rgba(44,56,43 ,0.5);
    float: right;
    margin-top: 2rem;
    text-align: right;
    width: 100%;
    
}
footer div{
    display: inline-block;
    float: left;    
    padding-right: 1rem;





}
#profile{

    float: right;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 200px;
    color: white;
    left: 0px;
    
}

#gallery{

display: flex;
margin-top: 20%;
margin-left: 15%;
transition: 2s ;

}
#gallery img{
padding-left: 3rem;
    width: 20rem;
height: 27rem;
border-radius: 100px 0px 100px 0px ;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;

}
#gallery img:hover{
    -webkit-filter: blur(0);
    filter: blur(0);

}



#col1{
float: left;
    width: 100%;
}
#class{
    float: right;
    border-radius: 100px 0px 100px 0px ;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    z-index: -1;

}



/* styles index */

.heading{
    position: relative;
        margin-top: 300px;
    font-size: 3rem;
    font-weight: bolder;
    z-index: -1;
    text-align: center;
    text-shadow: 10px 10px rgba(44,56,43 ,0.5);
}

#topic{

    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#right ul{
    width: 100%;
    text-align: right;
    list-style-type: none;
    margin-right: 5%;
}
#right img{

    display: flex;
    float: left;
    position: relative;
    left: 0em;
    z-index: -1;
}
ul li{
    list-style-type: none;
}

.index{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    z-index: -1;

    border-radius: 0px 100px 100px;

transition: 1s;
}
.index:hover{

padding-left:5%;
}


#experience{
 
    align-items: center;
    margin-left: 10%;
font-size: 200%;
    width: 80%;
    border-bottom: 1px black solid;

}

#experience{
    z-index: -3;

    background-color:black;
    opacity: 60%;

}
.icon{
    position: absolute;
    left:0;
    top: 50%;
    z-index: -2;
}
.icon2{
    position: absolute;
    left:0;
    top: 167%;
    z-index: -2;


}

.pad{

    margin-left: 10%;
    word-spacing: 3rem;
}

.skill{

transition: 1s;

}
.skill:hover{

    padding-left: 10%;

}

@media screen and (max-width: 1630px ){

#gallery img{

    width: 25%;
}
}